body {
  background-color: #000;
}

.live-area {
  width: 80%;
  left: 0;
  position: absolute;
  height: 100%;
}

.chat-area {
  width: 20%;
  position: absolute;
  right: 0;
  height: 100%;
  background-color: #fff;
}

.video-container {
  position: relative;
}

#printWall {
  position: absolute;
  overflow: auto;
  padding: 20px;
  border: 1px solid #c2c2c2;
  height: 90%;
  width: 100%;
  text-align: left;
  bottom: 100px;
}

#really-cool-video {
  display: inline-block;
  width: 60%;
}

.input-group {
  position: absolute;
  bottom: 0;
  height: 10%;
}

span.red {
  color: red;
}

span.blue {
  color: blue;
}

span.green {
  color: green;
}

.video-js .vjs-big-play-button {
  position: relative;
  margin: 0 auto;
  top: 50%;
}

.vjs-progress-timepoint {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 6px;
  margin-left: -3px;
  border-radius: 3px;
  background-color: #FFF;
  cursor: pointer;
}

.vjs-progress-tooltip {
  display: none;
  position: absolute;
  bottom: 100%;
  max-width: 150px;
  padding: .3em 1em;
  margin-bottom: 15px;
  background-color: #000;
  color: #FFF;
}
.vjs-progress-tooltip:after {
  content: "\0020";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  font: 0/0 a;
  border: 10px solid transparent;
  border-top-color: #000;
  border-bottom-width: 0;
}
.vjs-progress-tooltip span {
  margin-left: 1em;
}

#chatInput {
  height: 100px;
}
